<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="markdown.css"/>
    <title>Opinion Detector Basic Webservice</title>
  </head>
  <body>
    <h1>Output URL</h1>
    <p>
      When ready, you can view the result
      <a href=<%= output_url %>>here</a>
    </p>

  </body>
</html>
